h1 {


    font-weight: 400;

}


.body {

    background-image: url(/src/images/backround_image.png);
    min-height: 100%;
    background-position: 2200px;
    background-attachment: fixed;

}

header {
    text-align: center;
    color: rgb(144, 222, 251);
}

.blocQuestion {

    display: flex;
    flex-wrap: wrap;
    border: solid;

    align-items: center;
    justify-content: space-between;
    width: 70%;

    min-height: auto;

    margin: auto;
    color: #ffe81f;
    padding: 15px;
    font-size: 1em;

}

.flex-center {

    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cardGood {

    background-color: rgb(77, 221, 25);
    opacity: 0.5;

}

.cardBad{

    background-color: red;
}



#messageFin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    border: #ffe81f solid 1px;
    padding: 1%;
}


#paraFin {

    font-size: 3em;
    color: #ffe81f;

}


.blurred {
    filter: blur(4px);
    opacity: 0.5;
}

.container {

    margin-top: 6%;
    display: none;
}

h2 {
    display: none;
}






.custom-card{
    
background-image: url('/src/images/xwing.jpeg'); 
background-size: cover;
background-position:center;
background-repeat: no-repeat;
}    

.card-body {
    position: relative;
    z-index: 1;
}

.card-text{
color: #ffe81f;
font-size: 1.5em;
font-weight: 500;
text-shadow: 2px 2px 2px black;

}

#currentScore{
    color: black;
    background-color: #ffe81f;
}


